/* Colores globales */
$blanco: #fff;
$dark: #212529;

/* Colores index */
//Paleta de colores - 1 (grises)
$gris-1: #5e5e5e;
$gris-2: #6f6f6f;
$gris-3: #828282;
$gris-4: #aaaaaa;

//Paleta de colores - 2 (Neon)
/* Maps */
$coloresNeon: (
    verdeN: #93da49,
    rojoN: #fe575f,
    moradoN: #c237db,
    azulN: #40f2fe,
    amarilloN: #faed27
);

//Paleta de colores - 3 (Album-día)
$color1: #903495;
$color2: #6f3460;
$color3: #4a354f;
$color4: #d20076;
$color5: #ff0076;

/* Tamaños Bubbles */
$small: 4rem;
$medium: 5rem;
$large: 6rem;
$xlarge: 7rem;
$xxlarge: 8rem;
$medium-navy: #86a0bb;
$snow: #f6f9fc;
$margin: 1rem;


