//Variables globales
@import "resets";
@import "variables";
@import "mixins";

//***Header***
header {
  //   background: linear-gradient(90deg, rgb(163, 44, 69), rgb(20, 16, 16));

  background-color: $dark;
  color: $light;
  border-bottom: 4px solid $danger;

  nav {
    .container {
      .offcanvas-backdrop.fade {
        // background-color: rgb(51, 4, 4);
        @include coloresBoton;
      }
      .offcanvas {
        background-color: $dark;

        .offcanvas-header {
          button {
            background-color: $danger;
          }
        }

        .offcanvas-body {
          ul {
            li {
              a {
                font-size: 20px;

                &:hover {
                  color: $danger;
                }
              }
              .active {
                color: $danger;
                font-weight: bold;
              }
            }
          }
        }
      }
      .menu {
        .navbar-collapse {
          ul {
            li {
              a {
                font-size: 20px;

                &:hover {
                  color: $danger;
                }
              }
              .active {
                color: $danger;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

//***Main***
main {
  color: $blanco;
  //   background: linear-gradient(90deg, rgb(49, 40, 82), rgb(172, 18, 18));
  background-color: $dark;

  #informacion-portada {
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url(../imagenes/fotoPortada5.jpg);
    background-position: center 100%;
    background-repeat: no-repeat;
    height: 100%;
    background-size: cover;

    .portada {
      text-align: justify;
      padding-top: 3rem;
      padding-bottom: 5rem;
    }
  }

  #collage {
    .intro{
      p{
        font-size: 1.1rem;
      }
    }

    .gallery {
      padding: 0.5rem 0;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      white-space: nowrap;

      .wrapper {
        @include trasladandoBurbujas;
        // @include movEstiloBurbuja;

        .gallery__wrapper {
          display: inline-block;
          width: 100%;

          .gallery-cluster {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
            height: auto;

            div {
              /* Aqui estamos llamando a la funcion que pondra nuestro texto en la parte de arriba del contenedor, este ya tiene background y color de letra */
              @include textoArriba;

              p {
                visibility: hidden;
              }

              &:hover {
                p {
                  visibility: visible;
                }
              }
              /* Aqui termina la primera animación de texto encima */

              .bubble-item {
                background-size: cover;
                background-position: center center;
                border-radius: 100%;
                float: left;
                height: $small;
                overflow: hidden;
                width: $small;
                margin: $margin;
                transition: all 250ms ease-in-out;

                /* Aqui incluimos la funcion que cambia de color durante 15 segundos el borde y sombra de la caja */
                @include coloresNeon;

                // &:hover {
                //   transform: scale(1.1);
                // }
              }

              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $large;
                width: $large;
              }

              .item3 {
                @extend .item1;
                background-image: url(../artistas/imagenes/phoenix.webp);
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item5 {
                @extend .item1;
                background-image: url(../artistas/imagenes/keane.webp);
              }

              .item6 {
                @extend .item2;
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
              }

              .item7 {
                @extend .item1;
                background-image: url(../artistas/imagenes/coldplay.jpeg);
              }

              .item8 {
                @extend .item1;
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
              }

              .item9 {
                @extend .item2;
                background-image: url(../artistas/imagenes/Block-Party-band.png);
              }
              .item10 {
                @extend .item1;
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
              }

              .item11 {
                @extend .item4;
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
              }
              .item12 {
                @extend .item1;
                background-image: url(../artistas/imagenes/the-xx.jpg);
              }
              .item13 {
                @extend .item2;
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
              }
              .item14 {
                @extend .item1;
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
              }
            }
          }
        }
      }
      //Esta funcion nos permite pusar la animación cuando pasa el mouse en una
      //burbuja
      .paused {
        animation-play-state: paused;
      }
    }
  }

  #galeria {
    .noticias {
      .noticia {
        height: 500px;

        position: relative;
        display: inline-block;
        text-align: center;

        .texto-encima {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $blanco;
          background-color: rgba(0, 0, 0, 0.7);
          font-size: 25px;
          font-weight: 100;
        }

        //Animacion para mostrar y ocultar texto
        // Se le ingresa nombre, duracion, el numero de veces que se repetira
        p {
          @include ocultandoTexto;
        }

        padding: 10px;

        img {
          width: 100%;
          height: 100%;
          // object-fit: cover;

          animation-name: img-distorcionada;
          animation-duration: 40s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &:hover {
            box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
          }
        }

        cursor: pointer;
      }

      .adentro {
        .row {
          .imagen-adentro {
            height: 250px;

            position: relative;
            display: inline-block;
            text-align: center;

            .texto-encima {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 25px;
              font-weight: 100;
            }

            p {
              @include ocultandoTexto;
            }

            padding: 10px;
            margin: 0 auto;

            img {
              width: 100%;
              height: 100%;
              // object-fit: cover;

              @include imgColor;

              &:hover {
                box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
              }
            }
            cursor: pointer;
          }
        }
      }
    }
  }

  #album-dia {
    .contenedor-disco {
      .albumes {
        .album {
          img {
            height: 300px;

            /* Aqui ingresamos la animacion de cambio de color Neon */
            // @include coloresNeon;

            // &:hover {
            //   transform: scale(1.1);
            // }

            cursor: pointer;
          }
        }

        .playlist {
          iframe {
            width: 50%;

            /* Aqui ingresamos la animacion de cambio de color Neon */
            // @include coloresNeon;
          }
        }
      }
    }
  }

  #siguenos {
    // background: linear-gradient(90deg, rgb(189, 46, 11), rgb(121, 6, 102));
    background-color: $dark;

    .row {
      .formato-escribenos {
        form {
          button {
            width: 100%;
            border-color: white;
            background: rgba(67, 68, 30, 0.726);

            &:hover {
              box-shadow: 0px 0px 15px 1px rgba(188, 228, 42, 0.616);
            }
          }
        }
      }
    }
  }

  /* Aqui empieza la página Gira */
  #tabla {
    .titulo-main {
      img {
        width: 150px;
      }
    }

    .interior {
      font-size: 25px;
      font-weight: 100;

      .boton {
        button {
          background: none;
          color: #fff;
          border: 1px solid;
          text-transform: uppercase;
          padding: 1px 35px;
          font-size: 20px;
          font-weight: 100;

          &:hover {
            background: rgba(67, 68, 30, 0.726);
            transition: background-color 1s ease-out;
            outline: 0;
          }
        }
      }
    }
  }

  /* Aqui empieza la página Artistas */
  #artistas {
    .container {
      .noticias {
        .noticia {
          height: 580px;

          position: relative;
          display: inline-block;
          text-align: justify;

          .texto-encima {
            position: absolute;
            bottom: 0rem;
            right: 1rem;
            left: 1rem;
            transform: translate(0%, 0%);
            color: $blanco;
            background-color: rgba(0, 0, 0, 0.7);
            font-size: 1em;
            font-weight: 100;
            padding: 20px;
          }

          img {
            width: 100%;
            height: 100%;
            @include coloresNeon;

            &:hover {
              box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
            }
          }

          cursor: pointer;
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 200px;

              position: relative;
              display: inline-block;
              text-align: center;

              .texto-encima {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $blanco;
                background-color: rgba(0, 0, 0, 0.7);
                font-size: 20px;
                font-weight: 100;
              }

              p {
                @include ocultandoTexto;
              }

              padding: 10px;
              // margin: 0 auto;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;

                @include imgColor;

                &:hover {
                  box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
                }
              }
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  /* Aqui empieza la página Musica/Videos */
  #disco {
    .container {
      .contenedor-disco {
        width: 90%;
        margin: 0 auto;

        .row {
          .historia-disco {
            text-align: justify;
            font-size: 20px;
          }
          .imagen-disco {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              height: 400px;
              border-radius: 0.5em;
            }
          }
        }
      }

      .titulo-exitos {
        h1 {
          font-size: 45px;
        }
      }

      .videos {
        font-size: 25px;
      }
    }
  }

  /* Aqui empieza la página Contacto */
  #contenedor-formulario {
    .formulario {
      .envoltura {
        width: 70%;
        margin: 0 auto;
        box-shadow: 0 0 20px 0 rgba(182, 181, 122, 0.726);
        // padding: 1em;

        .formato-contacto {
          background: rgba(67, 68, 30, 0.726);

          form {
            .row {
              .botones {
                display: flex;
                justify-content: space-around;

                .boton {
                  button {
                    background: #b70e21;
                    color: #fff;
                    border: 0;
                    text-transform: uppercase;
                    padding: 1em;
                    width: 200px;
                    margin: 0 auto;

                    &:hover {
                      background: #d63031;
                      color: rgb(44, 44, 26);
                      transition: background-color 1s ease-out;
                      outline: 0;
                    }
                  }
                }
              }
            }
          }
        }

        .contact-info {
          background: #212529;
          text-align: center;

          ul {
            list-style: none;
            padding: 2em 0;
            font-size: 12px;
          }

          .texto-2 {
            padding-top: 2em;
          }
        }
      }
    }
  }
}

//***FOOTER***

footer {
  //   background: linear-gradient(90deg, rgb(163, 44, 69), rgb(20, 16, 16));
  background-color: $dark;
}

/* ******************* Media Queries *************************************/

@media screen and (max-width: 1400px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $large;
                  width: $large;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xxlarge;
                  width: $xxlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  width: $large;
                  height: $large;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $large;
                  width: $large;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  width: $xxlarge;
                  height: $xxlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  width: $large;
                  height: $large;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $large;
                  width: $large;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $medium;
                  width: $medium;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $large;
                  width: $large;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  width: $large;
                  height: $large;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  width: $medium;
                  height: $medium;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  width: $large;
                  height: $large;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  width: $large;
                  height: $large;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $medium;
                  width: $medium;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  width: $large;
                  height: $large;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  width: $large;
                  height: $large;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  width: $medium;
                  height: $medium;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  width: $large;
                  height: $large;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 500px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 250px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 50%;
            }
          }
        }
      }
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 580px;

            position: relative;
            display: inline-block;
            text-align: justify;

            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -0%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;


              
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 200px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 80%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $large;
                  width: $large;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xxlarge;
                  width: $xxlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $large;
                  width: $large;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  width: $xlarge;
                  height: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $large;
                  width: $large;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  width: $xxlarge;
                  height: $xxlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  width: $large;
                  height: $large;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  width: $xlarge;
                  height: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 450px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 225px;

              img {
                object-fit: cover;
              }

              p {
                font-size: 22px !important;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 980px;

            position: relative;
            display: inline-block;
            text-align: center;

            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -0%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;


              
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 200px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 95%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                // p{
                //   visibility: visible;
                // }

                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 400px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 300px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 70%;
            }
          }
        }
      }
    }

    #siguenos {
      width: 70%;
    }

    /* Seccion Gira */
    #tabla {
      .interior {
        font-size: 20px;
      }

      .titulo-tabla {
        font-size: 25px;
      }

      .interior {
        .boton {
          button {
            font-size: 15px;
          }
        }
      }
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 350px;

            position: relative;
            display: inline-block;
            text-align: center;


            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -10%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 308px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Musica/Videos */
    #disco {
      .container {
        .contenedor-disco {
          padding-bottom: 2rem;
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  main {
    #informacion-portada {
      .portada {
        padding: 0;
        p {
          display: none;
        }

        h4 {
          text-align: center;
          font-size: 30px;
          align-items: center;
          padding-top: 5rem;
          padding-bottom: 5rem;
        }
      }
    }

    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                // p{
                //   visibility: visible;
                // }

                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 450px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 450px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 80%;
            }
          }
        }
      }
    }

    #siguenos {
      width: 70%;
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 450px;

            position: relative;
            display: inline-block;
            text-align: justify;

            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -30%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 450px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Seccion Gira */
    #tabla {
      .interior {
        font-size: 15px;
      }

      .titulo-tabla {
        font-size: 25px;
        text-align: center;
      }

      .interior {
        .boton {
          button {
            font-size: 13px;
          }
        }
      }
    }

    /* Aqui empieza la página Musica/Videos */
    #disco {
      .container {
        .contenedor-disco {
          padding-bottom: 2rem;
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 100%;
          margin: 0 auto;
        }
      }
    }
  }
}

@media (min-width: 430px) and (max-width: 575px) {
  main {
    #informacion-portada {
      .portada {
        padding: 0;
        p {
          display: none;
        }

        h4 {
          text-align: center;
          font-size: 30px;
          align-items: center;
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }

    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                // p{
                //   visibility: visible;
                // }

                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 350px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 350px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 100%;
            }
          }
        }
      }
    }

    #siguenos {
      width: 90%;
    }

    /* Seccion Gira */
    #tabla {
      .interior {
        font-size: 16px;
      }

      .titulo-tabla {
        font-size: 18px;
        text-align: center;
      }

      .interior {
        .boton {
          button {
            font-size: 15px;
            padding: 8px 10px;
          }
        }
      }
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 350px;

            position: relative;
            display: inline-block;
            text-align: center;

            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -185%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;


              h6{
                display:none;
              }

              p{
                display:none;
              }
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 350px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Musica/Videos */
    #disco {
      .container {
        .contenedor-disco {
          padding-bottom: 2rem;

          .row {
            .imagen-disco {
              img {
                width: 70%;
                margin: 0 auto;
                height: 250px;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 100%;
          margin: 0 auto;

          .formato-contacto {
            form {
              .row {
                .botones {
                  .boton {
                    button {
                      width: 100px;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 429px) {
  main {
    #informacion-portada {
      .portada {
        padding: 0;
        p {
          display: none;
        }

        h4 {
          text-align: center;
          font-size: 30px;
          align-items: center;
          padding-top: 3rem;
          padding-bottom: 3rem;
        }
      }
    }

    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              div {
                // p{
                //   visibility: visible;
                // }

                .item1 {
                  background-image: url(../artistas/imagenes/thekillers2019.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item2 {
                  background-image: url(../artistas/imagenes/radiohead.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item3 {
                  background-image: url(../artistas/imagenes/phoenix.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item4 {
                  background-image: url(../artistas/imagenes/interpol.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item5 {
                  background-image: url(../artistas/imagenes/keane.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item6 {
                  background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item7 {
                  background-image: url(../artistas/imagenes/coldplay.jpeg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item8 {
                  background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item9 {
                  background-image: url(../artistas/imagenes/Block-Party-band.png);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item10 {
                  background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }

                .item11 {
                  background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item12 {
                  background-image: url(../artistas/imagenes/the-xx.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item13 {
                  background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
                .item14 {
                  background-image: url(../artistas/imagenes/The-Kooks.jpg);
                  height: $xlarge;
                  width: $xlarge;
                }
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 300px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 300px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              width: 90%;
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 90%;
            }
          }
        }
      }
    }

    #siguenos {
      width: 90%;
    }

    /* Seccion Gira */
    #tabla {
      .interior {
        font-size: 16px;
      }

      .titulo-tabla {
        font-size: 18px;
        text-align: center;
      }

      .interior {
        .boton {
          button {
            font-size: 15px;
            padding: 8px 10px;
          }
        }
      }
    }

    /* Aqui empieza la página Artistas */
    #artistas {
      .container {
        .titulo {
          h1 {
            font-size: 2.5rem;
          }
        }
        .noticias {
          .noticia {
            height: 300px;

            position: relative;
            display: inline-block;
            text-align: center;

            .texto-encima {
              position: absolute;
              bottom: 0rem;
              right: 2rem;
              left: 2rem;
              transform: translate(0%, -145%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 1em;
              font-weight: 100;
              padding: 20px;


              h6{
                display:none;
              }

              p{
                display:none;
              }
            }

            img {
              width: 100%;
              height: 100%;
            }
          }

          .adentro {
            .row {
              .imagen-adentro {
                height: 300px;

                position: relative;
                display: inline-block;
                text-align: center;

                .texto-encima {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  color: $blanco;
                  background-color: rgba(0, 0, 0, 0.7);
                  font-size: 20px;
                  font-weight: 100;
                }

                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                }
                cursor: pointer;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Musica/Videos */
    #disco {
      .container {
        .contenedor-disco {
          padding-bottom: 2rem;

          .row {
            .imagen-disco {
              img {
                width: 70%;
                margin: 0 auto;
                height: 200px;
              }
            }
          }
        }
      }
    }

    /* Aqui empieza la página Contacto */
    #contenedor-formulario {
      .formulario {
        .envoltura {
          width: 100%;
          margin: 0 auto;

          .formato-contacto {
            form {
              .row {
                .botones {
                  .boton {
                    button {
                      width: 100px;
                      margin: 0 auto;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
