//Variables globales
@import "resets";
@import "variables";
@import "mixins";

//***Header***
header {
  //   background: linear-gradient(90deg, rgb(163, 44, 69), rgb(20, 16, 16));
  background-color: $dark;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    h5 {
      color: $blanco;
    }
  }
}

/*nav {
  background: linear-gradient(90deg, rgb(163, 44, 69), rgb(20, 16, 16));
}*/

//***Main***
main {
  color: $blanco;
  //   background: linear-gradient(90deg, rgb(49, 40, 82), rgb(172, 18, 18));
  background-color: $dark;

  #informacion-portada {
    background-image: url(../imagenes/fotoPortada2.jpg);
    background-position: center 100%;
    height: 100%;
    background-size: cover;


    .portada {
      background-color: #00000086;
      text-align: justify;
      padding: 40px 20px 60px 130px;
    }
  }

  #collage {
    .gallery {
      padding: 0.5rem 0;
      max-width: 100%;
      overflow: hidden;
      position: relative;
      white-space: nowrap;

      .wrapper {
        @include trasladandoBurbujas;
        // @include movEstiloBurbuja;

        .gallery__wrapper {
          display: inline-block;
          width: 100%;

          .gallery-cluster {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            max-width: 100%;
            height: auto;

            .bubble-item {
              background-size: cover;
              background-position: center center;
              border-radius: 100%;
              float: left;
              height: $small;
              overflow: hidden;
              width: $small;
              margin: $margin;
              transition: all 250ms ease-in-out;

              /* Aqui incluimos la funcion que cambia de color durante 15 segundos el borde y sombra de la caja */
              @include coloresNeon;

              &:hover {
                transform: scale(1.1);
              }
            }

            .item1 {
              background-image: url(../artistas/imagenes/thekillers2019.jpg);
              height: $xlarge;
              width: $xlarge;
            }

            .item2 {
              background-image: url(../artistas/imagenes/radiohead.webp);
              height: $large;
              width: $large;
            }

            .item3 {
              @extend .item1;
              background-image: url(../artistas/imagenes/phoenix.webp);
            }

            .item4 {
              background-image: url(../artistas/imagenes/interpol.jpg);
              height: $xxlarge;
              width: $xxlarge;
            }

            .item5 {
              @extend .item1;
              background-image: url(../artistas/imagenes/keane.webp);
            }

            .item6 {
              @extend .item2;
              background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
            }

            .item7 {
              @extend .item1;
              background-image: url(../artistas/imagenes/coldplay.jpeg);
            }

            .item8 {
              @extend .item1;
              background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
            }

            .item9 {
              @extend .item2;
              background-image: url(../artistas/imagenes/Block-Party-band.png);
            }
            .item10 {
              @extend .item1;
              background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
            }

            .item11 {
              @extend .item4;
              background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
            }
            .item12 {
              @extend .item1;
              background-image: url(../artistas/imagenes/keane.webp);
            }
            .item13 {
              @extend .item2;
              background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
            }
            .item14 {
              @extend .item1;
              background-image: url(../artistas/imagenes/The-Kooks.jpg);
            }
          }
        }
      }
      //Esta funcion nos permite pusar la animación cuando pasa el mouse en una
      //burbuja
      .paused {
        animation-play-state: paused;
      }
    }
  }

  #galeria {
    .noticias {
      .noticia {
        height: 500px;

        position: relative;
        display: inline-block;
        text-align: center;

        .texto-encima {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $blanco;
          background-color: rgba(0, 0, 0, 0.7);
          font-size: 25px;
          font-weight: 100;
        }

        //Animacion para mostrar y ocultar texto
        // Se le ingresa nombre, duracion, el numero de veces que se repetira
        p {
          @include ocultandoTexto;
        }

        padding: 10px;

        img {
          width: 100%;
          height: 100%;
          // object-fit: cover;

          animation-name: img-distorcionada;
          animation-duration: 40s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;

          &:hover {
            box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
          }
        }

        cursor: pointer;
      }

      .adentro {
        .row {
          .imagen-adentro {
            height: 250px;

            position: relative;
            display: inline-block;
            text-align: center;

            .texto-encima {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              color: $blanco;
              background-color: rgba(0, 0, 0, 0.7);
              font-size: 25px;
              font-weight: 100;
            }

            p {
              @include ocultandoTexto;
            }

            padding: 10px;
            margin: 0 auto;

            img {
              width: 100%;
              height: 100%;
              // object-fit: cover;

              @include imgColor;

              &:hover {
                box-shadow: 0px 0px 15px rgba(254, 255, 181, 0.7);
              }
            }
            cursor: pointer;
          }
        }
      }
    }
  }

  #album-dia {
    .contenedor-disco {
      .albumes {
        .album {
          img {
            height: 300px;
            
            /* Aqui ingresamos la animacion de cambio de color Neon */
            // @include coloresNeon;

            // &:hover {
            //   transform: scale(1.1);
            // }

            cursor: pointer;
          }
        }

        .playlist {
          iframe {
            width: 50%;

            /* Aqui ingresamos la animacion de cambio de color Neon */
            // @include coloresNeon;

          }
        }
      }
    }
  }

  #siguenos {
    // background: linear-gradient(90deg, rgb(189, 46, 11), rgb(121, 6, 102));
    background-color: $dark;

    .row {
      .formato-escribenos {
        form {
          button {
            width: 100%;
            border: none;
            /* cambio de colores */
            // @include coloresBoton;

            &:hover {
              box-shadow: 0px 0px 15px 1px rgba(188, 228, 42, 0.616);
            }
          }
        }
      }
    }
  }
}

//***FOOTER***

footer {
  //   background: linear-gradient(90deg, rgb(163, 44, 69), rgb(20, 16, 16));
  background-color: $dark;
}

/* ******************* Media Queries *************************************/

/* No aplica */
@media screen and (max-width: 1400px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $large;
                width: $large;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xlarge;
                width: $xlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xlarge;
                height: $xlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $large;
                height: $large;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xlarge;
                height: $xlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xlarge;
                height: $xlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $large;
                width: $large;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xlarge;
                height: $xlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xlarge;
                height: $xlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $large;
                height: $large;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xlarge;
                height: $xlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 50%;
            }
          }
        }
      }
    }

  
  }
}

/* No aplica */
@media (min-width: 1200px) and (max-width: 1399px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $large;
                width: $large;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $medium;
                width: $medium;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $large;
                width: $large;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $large;
                height: $large;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $medium;
                height: $medium;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $large;
                height: $large;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $large;
                height: $large;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $medium;
                width: $medium;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $large;
                height: $large;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xlarge;
                height: $xlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $large;
                height: $large;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $medium;
                height: $medium;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $large;
                height: $large;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 500px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 250px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 50%;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $large;
                width: $large;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $large;
                width: $large;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xlarge;
                height: $xlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $xlarge;
                height: $xlarge;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xlarge;
                height: $xlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xlarge;
                height: $xlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $large;
                width: $large;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $large;
                height: $large;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xlarge;
                height: $xlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $xlarge;
                height: $xlarge;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xlarge;
                height: $xlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 450px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 225px;

              img {
                object-fit: cover;
              }

              p {
                font-size: 22px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xlarge;
                width: $xlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xlarge;
                width: $xlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $xlarge;
                height: $xlarge;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xlarge;
                height: $xlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $xxlarge;
                width: $xxlarge;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xlarge;
                height: $xlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xlarge;
                height: $xlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $xlarge;
                height: $xlarge;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 400px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 300px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 70%;
            }
          }
        }
      }
    }

    #siguenos{
      width: 70%;
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $xxlarge;
                width: $xxlarge;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 450px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 450px;

              img {
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 80%;
            }
          }
        }
      }
    }

    #siguenos{
      width: 70%;
    }
  }
}

@media (min-width: 430px) and (max-width: 575px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $xxlarge;
                width: $xxlarge;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 350px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 350px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .playlist {
            iframe {
              width: 100%;
            }
          }
        }
      }
    }

    #siguenos{
      width: 90%;
    }
  }
}

@media (max-width: 429px) {
  main {
    #collage {
      .gallery {
        .wrapper {
          animation: galleryInMotion 5s infinite;
          .gallery__wrapper {
            .gallery-cluster {
              .item1 {
                background-image: url(../artistas/imagenes/thekillers2019.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item2 {
                background-image: url(../artistas/imagenes/radiohead.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item3 {
                background-image: url(../artistas/imagenes/phoenix.webp);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item4 {
                background-image: url(../artistas/imagenes/interpol.jpg);
                height: $xxlarge;
                width: $xxlarge;
              }

              .item5 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item6 {
                background-image: url(../artistas/imagenes/franz-ferdinand-billy-goodbye.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item7 {
                background-image: url(../artistas/imagenes/coldplay.jpeg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item8 {
                background-image: url(../artistas/imagenes/arcade-fire-2021.webp);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item9 {
                background-image: url(../artistas/imagenes/Block-Party-band.png);
                height: $xxlarge;
                width: $xxlarge;
              }
              .item10 {
                background-image: url(../artistas/imagenes/arctic-monkeys.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }

              .item11 {
                background-image: url(../artistas/imagenes/Red-Hot-Chili-Peppers.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item12 {
                background-image: url(../artistas/imagenes/keane.webp);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item13 {
                background-image: url(../artistas/imagenes/SnowPatrol_FbsfXrI.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
              .item14 {
                background-image: url(../artistas/imagenes/The-Kooks.jpg);
                width: $xxlarge;
                height: $xxlarge;
              }
            }
          }
        }
        .paused {
          animation-play-state: paused;
        }
      }
    }

    #galeria {
      .noticias {
        .noticia {
          height: 300px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .adentro {
          .row {
            .imagen-adentro {
              height: 300px;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }

    #album-dia {
      .contenedor-disco {
        .albumes {
          .album {
            img {
              width: 90%;
              height: 300px;
            }
          }
          .playlist {
            iframe {
              width: 90%;
            }
          }
        }
      }
    }

    #siguenos{
      width: 90%;
    }
  }
}
